# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual Environment
venv/
env/
.env/
